/* --------------------------------New-------------------------------- */

h1{
    font-family: bold;
    font-size: 40px;
}

.titlePortfolio{
    text-align: center;
}

.bannerWhatsNew{
    width: 1304px;
    height: 650px;
    margin-bottom: 30px;
}

.bannerWithDescription{
    width: 1304px;
}

.textBanner{
    font-family: regular;
    font-size: 16px;
}