@font-face {
    font-family: "bold";
    src: url("./fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
    font-family: "extra_bold";
    src: url("./fonts/Barlow/Barlow-ExtraBold.ttf");
}

@font-face {
    font-family: "regular";
    src: url("./fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: "semi_bold";
    src: url("./fonts/Barlow/Barlow-SemiBold.ttf");
}