
/* --------------------------------Home-------------------------------- */

@keyframes bannerHome{
    0% {opacity: 0%;}
    100% {opacity: 100%; transform:translateX(50%);}
}

@keyframes imageSolo2{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}